@using WebApplication5.Models
@model WebApplication5.Models.Student


@{
    ViewBag.Title = "GetDetails2";
}

<h2>GetDetails2</h2>
<h2> Details of Student </h2>
 @*This is casting*@
 @{  var obj = ViewData["Student"] as Student; }
<p>
    ID is : @obj.Id<br />
    Name is : @obj.Name <br /> 
    Name is : @ViewBag.student.Name <br />
    BatchCode is : @ViewBag.student.BatchCode
    Marks are  : @ViewBag.student.Marks
</p>

